.check-container {
    background-image: linear-gradient(to right, #2da0f1 0%, #0076d8 51%, #2da0f1 100%);
    padding: 20px;
}

.checkout {
    background-color: white;
    border: 1px solid white;
    box-shadow: rgba(42, 42, 42, 0.4);
    border-radius: 20px;
}

.checkout i {
    font-size: 60px;
}
